name: CI

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
    ci_ablunit:
        uses: ./.github/workflows/ci_ablunit.yml
        secrets: inherit
    ci_compile:
        uses: ./.github/workflows/ci_compile.yml
        secrets: inherit
    ci_create_library:
        uses: ./.github/workflows/ci_create_library.yml
        secrets: inherit
    ci_documentation:
        uses: ./.github/workflows/ci_documentation.yml
        secrets: inherit
    ci_database_start:
        uses: ./.github/workflows/ci_database_start.yml
        secrets: inherit
    ci_root:
        uses: ./.github/workflows/ci_root.yml
        secrets: inherit
    ci_run:
        uses: ./.github/workflows/ci_run.yml
        secrets: inherit
    ci_setup:
        uses: ./.github/workflows/ci_setup.yml
        secrets: inherit
    ci_shellcheck:
        runs-on: ubuntu-latest
        steps:
          - name: Run ShellCheck
            uses: ludeeus/action-shellcheck@2.0.0
