name: CI - Documentation

on:
  workflow_call

jobs:
  test-action:
    name: test-action/documentation
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      ## a simple documentation test
      - name: documentation-1
        uses: ./documentation
        with:
            license: ${{ secrets.PROGRESS_CFG_LICENSE }}
            working-directory: documentation/test/test1
            # pct-buildDir: .
            pct-encoding: utf8
      - name: test-1A
        shell: bash
        working-directory: documentation/test/test1
        run: |
          [ -f "documentation.json" ] || (echo "::error::Expected documentation file documentation.json but it was not found" && exit 1)

      - name: pre-merge-validation
        shell: bash
        run: ./.github/workflows/pre_merge_validation.sh documentation
