name: CI - Database Start

on:
  workflow_call

jobs:
  test-action:
    name: test-action/database-start
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v6

      ## simple test
      - name: database-start-1A setup
        uses: ./setup
        with:
          license: ${{ secrets.PROGRESS_CFG_LICENSE }}
      - name: database-start-1B create
        shell: bash
        working-directory: database-start/test
        run: ant createDatabase
      - name: database-start-1C start
        uses: ./database-start
        continue-on-error: true
        with:
          path: database-start/test/target/db/sp2k
          port: 2000
          minport: 3000
          maxport: 3100
      - name: database-start-1D run
        uses: ./run
        with:
          working-directory: database-start/test
          parameter-file: db.pf
          startup-procedure: customer_count.p
          additional-parameters: "-clientlog client.log"
      - name: test-1
        shell: bash
        working-directory: database-start/test
        run: |
          cat client.log
          grep 'customerCount=1117' client.log || (echo "::error::expected 1117 customers!" && exit 1)

      - name: pre-merge-validation
        shell: bash
        run: ./.github/workflows/pre_merge_validation.sh database-start
