name: CI - Setup

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test-action-A:
    name: test-action/setup - A
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      ## setup latest version
      - name: setup-1
        uses: ./setup
        with:
          license: ${{ secrets.PROGRESS_CFG_LICENSE }}
          cache-key: 'null'
          download-ade-source: false
      - name: test-1-name
        id: test-1-id
        shell: bash
        run: |
          command -v _progres || (echo "::error::_progres command not found!" && exit 1)
          PROGRESS_OUTPUT=$(_progres -b -p setup/test/test_message.p)
          [ "$PROGRESS_OUTPUT" = 'LONG LIVE OPENEDGE' ] || (echo "::error::did not get expected output calling _progres" && exit 1)
          [ "$(awk '{print $3}' "$DLC/version")" != '' ] || (echo "::error::could not determine abl version" && exit 1)
          ant -f setup/test/build.xml run || (echo "::error::could not run test build.xml" && exit 1)

      ## skip setup because the same version was setup already
      - name: setup-2
        id: setup-2
        uses: ./setup
        with:
            cache-key: 'null'
            download-ade-source: false
      - name: test-2
        shell: bash
        run: |
          if [ "${{ steps.setup-2.outputs.skipped }}" = "true" ]; then
            echo "Setup successfully skipped when DLC already exists and contains files"
            exit 0
          fi
          echo "::error::setup-2 step was expected to fail but did not (steps.setup-2.output.skipped='${{ steps.setup-2.outputs.skipped }}')"
          exit 1

      ## setup a second version with a different DLC, no license provided so setup succeeds but _progres fails to execute
      - name: setup-3A
        uses: ./setup
        with:
          version: 12.8.1
          cache-key: 'null'
          download-ade-source: false
      - name: test-3A
        shell: bash
        run: |
          [ "$(awk '{print $3}' "$DLC/version")" = "12.8.1" ] || (echo "::error::could not set abl version to 12.8.1" && exit 1)
          command -v _progres
          _progres -b -p setup/test/test_message.p > tmp.log || true
          [ "$(cat tmp.log)" = 'Unable to read progress.cfg, reason=-6. (1732)' ] || (echo "::error::expected execution failure due to missing license" && exit 1)

      ## setup should use inputted DLC
      - name: setup-4
        id: setup-4
        uses: ./setup
        with:
          dlc: /progress/openedge/dlc
          cache-key: 'null'
          download-ade-source: false
      - name: test-4
        shell: bash
        run: |
          [ "${{ steps.setup-4.outputs.cache-hit }}" != 'true' ] || (echo "::error::expected cache miss but hit" && exit 1)
          [ "$DLC" = "/progress/openedge/dlc" ] || (echo "::error::expected DLC to be /progress/openedge/dlc but got '$DLC'" && exit 1)
          [ -f "/progress/openedge/dlc/version" ] || (echo "::error::expected version file at /progress/openedge/dlc/version but not found" && exit 1)
          [ -d "/progress/openedge/wrk" ] || (echo "::error::expected WRKDIR at /progress/openedge/wrk but directory not found" && exit 1)

      ## fail to setup second version at the same DLC
      - name: setup-5
        id: setup-5
        uses: ./setup
        continue-on-error: true
        with:
          dlc: /progress/openedge/dlc
          version: 12.8.1
          cache-key: 'null'
          download-ade-source: false
      - name: test-5
        shell: bash
        run: |
          if [ "${{ steps.setup-5.outcome }}" = "failure" ]; then
            echo "Expected failure when DLC already exists and contains files"
            exit 0
          fi
          echo "::error:: setup-5 step was expected to fail but did not"
          exit 1

      ## setup w/ ADE source
      - name: setup-6
        uses: ./setup
        with:
          version: 12.8.8
          download-ade-source: true
          cache-key: 'null'
      - name: test-6
        shell: bash
        run: |
          [ -f "$DLC/src/ablunit/ABLUnitCore.p" ] || (echo "::error::expected file $DLC/src/ablunit/ABLUnitCore.p to exist" && exit 1)

      ## setup using cache with implicit key
      - name: setup-7A
        id: setup-7A
        uses: ./setup
        with:
          version: 12.8.7
          download-ade-source: false
      - name: test-7A
        shell: bash
        run: |
          [ "$(awk '{print $3}' "$DLC/version")" = "12.8.7" ] || (echo "::error::could not set abl version to 12.8.7" && exit 1)
          [ '${{ steps.setup-7A.outputs.cache-hit }}' = 'true' ] || [ '${{ steps.setup-7A.outputs.cache-saved}}' = 'true' ] || (echo "::error::expected cache hit or save, but not indicated" && exit 1)

      ## setup using cache with explicit key
      - name: setup-8A
        id: setup-8A
        uses: ./setup
        with:
          version: 12.8.6
          cache-key: 'custom-cache-key-2'
          license: 'dGVzdHZhbHVlCg==' ## 'testvalue'
          download-ade-source: false
      - name: test-8A
        shell: bash
        run: |
          [ "$(awk '{print $3}' "$DLC/version")" = "12.8.6" ] || (echo "::error::could not set abl version to 12.8.6" && exit 1)

  test-action-B:
    name: test-action/setup - B
    runs-on: ubuntu-latest
    needs: [ test-action-A ]

    steps:
      - uses: actions/checkout@v5

      ## was not cached in setup-3A so we shouldn't get a cache hit here
      - name: setup-3B
        id: setup-3B
        uses: ./setup
        with:
          version: 12.8.1
          cache-key: 'null'
          download-ade-source: false
      - name: test-3B
        shell: bash
        run: |
          [ "$(awk '{print $3}' "$DLC/version")" = "12.8.1" ] || (echo "::error::could not set abl version to 12.8.1" && exit 1)
           [ "${{ steps.setup-3B.outputs.cache-hit }}" != 'true' ] || (echo "::error::expected cache miss but got git" && exit 1)

      ## setup using cache with implicit key
      - name: setup-7B
        id: setup-7B
        uses: ./setup
        with:
          version: 12.8.7
          download-ade-source: false
      - name: test-7B
        shell: bash
        run: |
          [ "$(awk '{print $3}' "$DLC/version")" = "12.8.7" ] || (echo "::error::could not set abl version to 12.8.7" && exit 1)
          ls -al "$DLC"
          [ "${{ steps.setup-7B.outputs.cache-hit }}" = 'true' ] || (echo "::error::expected cache hit but missed" && exit 1)
          [ ! -f "$DLC/progress.cfg" ] || [ ! -s "$DLC/progress.cfg" ] || (echo "::error::expected progress.cfg to be empty on cache hit" && exit 1)

      ## setup using cache with explicit key, created when license was provided
      - name: setup-8B
        id: setup-8B
        uses: ./setup
        with:
          version: 12.8.6
          cache-key: 'custom-cache-key-2'
      - name: test-8B
        shell: bash
        run: |
          [ "$(awk '{print $3}' "$DLC/version")" = "12.8.6" ] || (echo "::error::could not set abl version to 12.8.6" && exit 1)
          [ "${{ steps.setup-8B.outputs.cache-hit }}" = 'true' ] || (echo "::error::expected cache hit but missed" && exit 1)
          ls -al "$DLC"
          [ ! -f "$DLC/progress.cfg" ] || [ ! -s "$DLC/progress.cfg" ] || (echo "::error::expected progress.cfg to be empty on cache hit" && exit 1)

      - name: pre-merge-validation
        shell: bash
        run: ./.github/workflows/pre_merge_validation.sh setup
